/*-------------------------------------------*\
   styles.css
 
   Index
   - Generic         - It defines de global values used in the whole page and the content section on the page.
   - Menu and Footer - It defines de navbars on top and bottom on the page
   - Home Content    - It defines the content on the home view (Slider, Ratings, Video...).
   - Contact         - It defines the contact view with the form and the map.
   - Footer Policies - It defines de policies view whose hyperlinks are on the footer bar.
   - Products        - It defines the products view with the filter buttons and dropdowns and the products view.
\*-------------------------------------------*/


/********* GENERIC *********/

* {
    font-family: sans-serif;
}

.container {
    font-size: 16px;
}

/********* MENU & FOOTER ***********/

/* Style the menu and footer bar with their links and logos */
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fdca40;
    color: #972d07;
    padding: 1em;
}

/* Style the links inside the navigation bar */
.menu__link{
    text-decoration: none;
    color: #972d07;
    padding: 1.5em;
}

/* Style the logo inside the navigation bar */
.menu__link--logo {
    width: 50px;
    height: 50px;
    padding: 1.5em;
}

/* Style the links when you put the mouse over a link */
.menu__link:hover {
    background-color: #582707;
    color: #fdca40;
    /* color: #fff5b2; */
}

/* Style the logo inside the navigation bar */
.menu__logo {
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 2em;
}



/********* HOME CONTENT ***********/

/* Style the background of the main section in the header (ratings, slider and video) */
.result__content {
    background-color: #fff5b2;
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Style the title with its subtitle */
.content__title{
    text-align: center;
    color: #972d07;
    font-size: 1.5em;
}

/* Style the content which is not referred to the slider, ratings and video */
.result__about {
    display: flex;
    flex-direction: row;
}

.about__info {
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px;
    margin: 3em;
    font-size: 18px;
}

.about__title {
    font-weight: bold;
}

/* Style the ratings */
.content__ratings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #fff5b2;
}

.ratings__rating {
    flex-direction: column;
    background-color: white;
    margin: 1em;
    background-image: none;
    font-size: 16px;
}

.ratings__title {
    background-color: #fdca40;
    padding: 2em;
}

.ratings__text {
    color: #972d07;
    font-weight: bold;
    text-transform: uppercase;
}

.ratings__img {
    width: 25px;
    height: 25px;
}

.ratings__price {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #972d07;
} 

.ratings__info {
    padding: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #972d07;
}

.ratings__detail {
    margin: 2em;
    border: none;
}

.ratings__buttons{
    flex-direction: row;
    background-image: none;
    margin-left: 2em;
    margin-right: 2em;
}

.ratings__button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #972d07;
    background-color: #fdca40;
    border-radius: 6px;
    border: 2px solid #972d07;
    margin:5px;
}

.ratings__button:hover{
    color: #fdca40;
    background-color: #972d07;
}

/* Style the video */
.result__video {
    display: flex;
    justify-content: center;
}

/* Style the slider/carousel */
.result__slider {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    background-color: rgba(0, 0, 0, 0.534); 
}

.slider__slideshow {
    overflow: hidden;
    height: 850px;
    width: 1200px;
}
  
.slider__slide-wrapper {
    width: 4800px;
    animation: slide 18s ease infinite;
}
  
.slider__slide {
    float: left;
    height: 768px;
    width: 1200px;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fdca40;
    color: #972d07;
}
  
.slider__slide:nth-child(2) {
    background: #fff5b2;
}

.slider__slide:nth-child(4) {
    background: #fff5b2;
}
    
@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -1200px;}
    50% {margin-left: -1200px;}
    60% {margin-left: -2400px;}
    70% {margin-left: -2400px;}
    80% {margin-left: -3600px;}
    90% {margin-left: -3600px;}
}



/********* CONTACT ***********/

/* Style how contact data is displayed */
.result__contact {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

/* Style contact title */
.contact__title {
    color: #972d07;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* Style contat background and content */
.contact {
    flex-direction: row;
    justify-content: space-between;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: #fff5b2;
    width: 60%;
}

.contact__label {
    color: #972d07;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 5px;
}

.contact__input {
    padding: 0.5em;
    border: 2px none;
    border-radius: 10px;
    width: 95%;
    margin-left: 5px;
    margin-bottom: 15px;
}

.contact__input:focus {
    border: 1px solid #972d07;
    border-radius: 10px;
    background-color: #fdca40;
}

.contact__button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #972d07;
    background-color: #fdca40;
    border-radius: 6px;
    border: 2px solid #972d07;
    margin-bottom: 10px;
    width: 97%;
    margin-left: 5px;
}

.contact__button:hover{
    color: #fdca40;
    background-color: #972d07;
}

/* Style the address which is above the map */
.contact__address {
    color: #972d07;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 17px;

}

/* Style contact map */
.contact__map {
    width: 500px;
    height: 500px;
}



/********* FOOTER POLICIES ***********/

/* Style policies title and image */
.footer__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.footer__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

/* .footer__content {
    margin-top: 2em;
    color: blue;
} */



/********* PRODUCTS ***********/

/* Style products background and header info */
.product {
    background-color: #fff5b2;
}

.product__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.product__header--img {
    justify-content: flex-start;
    width: 20%;
    height: 65%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
}

.product__header--text {
    justify-content: flex-end;
    margin-top: 2em;
    font-style: italic;
}

.product__text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #972d07;
}

.product__text--main {
    font-weight: bold;
    font-size: 3em;
}

.product__text--sub {
    font-size: 2em;
}

/* Style products content with the filters */
.products__content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 4em;
}

/* Style filters dropdowns, buttons and texts */
.filters {
    display:flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}

.filters__text {
    color: #972d07;
    font-weight: bold;
    text-align: center;
}

.filters__content--column {
    flex-direction: column;
}

.filters__content--row {
    flex-direction: row;
    justify-content: center;
}

.filters__filter {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #972d07;
    background-color: #fdca40;
    border-radius: 6px;
    border: 2px solid #972d07;
    margin: 1em;
}

.filters__filter:hover{
    color: #fff5b2;
    background-color: #582707;
}

.filters__filter:focus {
    color: #fff5b2;
    background-color: #582707;
}

/* Style products overview */
.products__product {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    background-image: none;
    font-size: 16px;
}

.products__img {
    background-color: none;
    align-content: center;
    width: 300px;
    height: 240px;
}

.products__title {
    background-color: #fdca40;
    padding: 2em;
    text-align: center;
    color: #972d07;
    font-weight: bold;
    text-transform: uppercase;
}

.products__text {
    color: #972d07;
    text-align: center;
}

.products__buttons {
    flex-direction: row;
}

.products__button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #972d07;
    background-color: #fdca40;
    border-radius: 6px;
    border: 2px solid #972d07;
    margin:5px;
}

.products__button:hover{
    color: #fdca40;
    background-color: #972d07;
}